@import url('https://fonts.googleapis.com/css2?family=Moulpali&family=Poppins:wght@300;400;500;600;700;800&display=swap');


/* ROOT VARIABEL */
:root{

     --hue-1:257;
     --hue-2:47;
     --main-color-1: hsl(var(--hue-1), 100%, 60%);
     --color-primary: #7380ec;
     --color-danger: #ff7782;
     --color-succes: #41f1b6;
     --color-warning: #ffbb55;
     --color-info-dark: #7d8da1;
     --color-info-light: #dce1eb;
     --color-primary-variant: #111e88;

     --card-border-radius: 2rem;
     --border-radius-1: 0.4rem;
     --border-radius-2: 0.8rem;
     --border-radius-3: 1.2rem;
 
     --card-padding: 1.8rem;
     --padding-1: 1.2rem;


}
html{
     scroll-behavior: smooth;
}

body {
     --color-background: #f6f6f9;
     --color-white: #fff;
     --bg-color-2:#fff;
     --bg-color-3: hsl(var(--hue-1), 100%, 98%);
     --heading-color: hsl(var(--hue-1), 61%, 24%);
     --color-dark: #363949;
     --color-dark-variant: #677483;
     --color-light: rgba(132, 139, 200, 0.18);
     --box-shadow: 0 2rem 3rem var(--color-light);
}

/* =============== DARK THEME VARIABLES ============= */
body.dark{
     --color-background: hsl(var(--hue-1), 19%, 15%);;
     --color-white: hsl(var(--hue-1), 23%, 19%);
     --bg-color-2: hsl(var(--hue-1), 23%, 19%);
     --bg-color-3: hsl(var(--hue-1), 23%, 24%);
     --heading-color: hsl(var(--hue-1), 100%, 95%);
     --color-dark: #edeffd;
     --color-dark-variant: #a3bdcc;
     --color-light: rgba(0, 0, 0, 0.4);
     --box-shadow: 0 2rem 3rem var(--color-light);
}
body.dark .form-input:hover{
     filter: brightness(110%);
}
*{
     margin: 0;
     padding: 0;
     outline: 0;
     appearance: none;
     border: 0;
     text-decoration: none;
     list-style: none;
     box-sizing: border-box;
}

html{
     font-size: 14px;
}

body{
     width: 100vw;
     height: 100vh;
     font-family: Poppins, sans-serif;
     font-size: 0.88rem;
     background: var(--color-background);
     user-select: none;
     overflow-x: hidden;
     color: var(--color-dark);
}

.container{
     display: grid;
     width: 96%;
     margin : 0 auto;
     gap: 1.8rem;
     grid-template-columns: 14rem auto 23rem;

}

a{
     color: var(--color-dark)
}

img{
     display: block;
     width: 100%;
}

h1{
     font-weight: 800;
     font-size: 1.8rem;
}

h2{
     font-size: 1.4rem;
}

h3{
     font-size: 0.87rem;
}

h4{
     font-size: 0.8rem;
}

h5{
     font-size: 0.77rem;
}

small{
     font-size: 0.75rem;
}

.profile-photo{
     width: 2.8rem;
     height: 2.8rem;
     border-radius: 50%;
     overflow: hidden;
}
.text-muted{
     color: var(--color-info-dark);
}

p{
     color: var(--color-dark-variant);
}

b{
     color: var(--color-dark);
}
.primary{
     color: var(--color-primary);
}
.danger{
     color: var(--color-danger);
}
.success{
     color: var(--color-succes);
}
.warning{
     color: var(--color-warning);
}

aside{
     height: 100vh;
}

aside .top{
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-top: 1.4rem;
}

aside .logo{
     display: flex;
     gap:0.8rem;
}
aside .logo img{
     width: 2rem;
     height: 2rem;
     margin-left: 1.8rem;
}

aside .close{
     display: none;
}

/* ============== SIDEBAR ============== */

aside .sidebar{
     display: flex;
     flex-direction: column;
     height: 86vh;
     position: relative;
     top: 3rem;
}

aside h3{
     font-weight: 500;
}

aside .sidebar a{
     display: flex;
     color: var(--color-info-dark);
     margin-left: 2rem;
     gap: 1rem;
     align-items: center;
     position: relative;
     height: 3.7rem;
     transition: all 300ms ease;

}
aside .sidebar a span{
     font-size: 1.6rem;
     transition: all 300ms ease;
}

aside .sidebar p{
     color: var(--color-primary);
     margin: 0 0 0 1rem;
     font-size: 10px;
     font-weight: 400;
}

aside .sidebar a:last-child{
     position: absolute;
     bottom: 0;
     width: 100%;
}

aside .sidebar a.active{
     background: var(--color-light);
     color: var(--color-primary);
     margin-left: 0;
}
 
aside .sidebar a.active:before{
     content: '';
     width: 6px;
     height: 100%;
     background: var(--color-primary);
}

aside .sdiebar a.active span{
     color: var(--color-primary);
     margin-left: calc( 1rem - 3px );
}

aside .sidebar a:hover{
     color: var(--color-primary);
}

aside .sidebar a:hover span{
     margin-left: 1rem;
}

aside .sidebar .message-count{
     background: var(--color-primary);
     color: var(--color-white);
     padding: 2px 10px;
     font-size: 11px;
     border-radius: var(--border-radius-1);
}

/* =============== MAIN =============== */


main {
     margin-top: 1.4rem;
}

main .date{
     display: inline-block;
     background: var(--color-light);
     border-radius: var(--border-radius-1);
     margin-top: 1rem;
     padding: 0.5rem 1.6rem;

}
main .date input[type="date"]{
     background: transparent;
     color: var(--color-dark);
}

main .insights {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 1.6rem;
}

main .insights-laporan{
     gap: 0.5rem;
     grid-template-columns: repeat(2, 1fr);

}

main .insights > div{
     background: var(--color-white);
     padding: var(--card-padding);
     border-radius: var(--card-border-radius);
     margin-top: 1rem;
     box-shadow: var(--box-shadow);
}

main .insights > div:hover{
     box-shadow: none;
}
main .insights > div span{
     background: var(--color-primary);
     padding: 0.5rem;
     border-radius: 50%;
     color: var(--color-white);
     font-size: 2rem;
}

main .insights > div.expenses span{
     background: var(--color-danger);
}
main .insights > div.income span{
     background: var(--color-succes);
}

main .insights > div .middle{
     display: flex;
     align-items: center;
     justify-content: space-between;
}

main .insights h3{
     font-size: 1rem;
     margin: 1rem 0 0.6rem;
}

main .insights .progress{
     position: relative;
     width: 92px;
     height: 92px;
     border-radius: 50%;
}

main .insights svg{
     width: 7rem;
     height: 7rem;
}

main .insights svg circle{
     fill: none;
     stroke: var(--color-primary);
     stroke-width: 14;
     stroke-linecap:round;
     transform: translate(5px, 5px);
     stroke-dasharray: 110;
     stroke-dashoffset: 92;
}

main .insights .sales svg circle{
     stroke-dashoffset: -30;
     stroke-dasharray: 200;
}
main .insights .expenses svg circle{
     stroke-dashoffset: 20;
     stroke-dasharray: 80;
}
main .insights .income svg circle{
     stroke-dashoffset: 35;
     stroke-dasharray: 110;
}
main .insights .progress .number{
     position: absolute;
     top: 0;
     left: 0;
     height:100%;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
}

.progress-image{
     padding: 1rem;
}
.progress-image img{
     width: 6rem;
     height: 6rem;
     border-radius: 1rem;
     box-shadow:0 2rem 1rem var(--color-light) ;
}

main .insights .progress .number .counter span{
     font-size: 10px;
     background-color: var(--color-white);
     color: var(--color-dark);
}
main .insight small{
     margin-top: 1.3rem;
     display: block;
}

/* =============== LAPORAN ====================== */

.sales .heading{
     display: flex;
     gap: 1rem;
     justify-content: space-between;
     align-items: center;
}
.sales .heading h3{
     text-transform: uppercase;
}

.middle .center{
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: space-between;
     gap: 0.5rem;
     margin-top: 1rem;
}
.content-laporan{
     width: 100%;
}
.label-laporan{
     font-size: 13px;
     font-weight: 500;
     margin: 0.5rem;
     margin-bottom: 1rem;
}

.content-laporan select.input-laporan{
     border-radius: none;
     width: 100%;
     padding: 0.5rem 1rem;
     border-radius: 5px;
     background-color: var(--bg-color-3);
     color: var(--color-dark);

}
.btn-laporan{
     width: 100%;
     margin: 1rem 0;
     padding: 0.5rem 1rem;
     border-radius: 5px;
     background-color: var(--color-primary);
     color: #fff;
     cursor: pointer;

}

/* =============== RECENT ORDERS =============== */
main .recent-orders{
     margin-top: 1.4rem;
}
main .recent-orders table{
     background: var(--color-white);
     width: 100%;
     border-radius: var(--card-border-radius);
     padding: var(--card-padding);
     text-align: center;
     margin-top: 1rem;
     box-shadow: var(--box-shadow);
     transition: all 300ms ease;

}

main .recent-orders table:hover{
     box-shadow: none;
}

main table tbody td{
     height: 2.8rem;
     border-bottom: 1px solid var(--color-light);
     color: var(--color-dark-variant);
}
main table tbody tr:last-child td {
     border: none;
}
main table tbody td img{
     width: 70px;
     height: 50px;
     border-radius: 3px;
}

main table tbody td.primary{
     display: flex;
     margin-top: 10px;
     margin-left: 10px;
     align-items: center;
     justify-content:center ;
     flex-direction: row;
}

td.primary a i{
     font-size: 18px;
}
td.primary a:first-child{
     color: var(--color-primary-);
}
td.primary a:last-child{
     color: var(--color-danger);
}

main .recent-orders a{
     text-align: center;
     display: block;
     margin: 1rem auto;
     color: var(--color-primary);
}

.tambah-data {
     position: relative;
     
}

main .recent-orders .tambah-data .tambahdata{
     text-align: center; 
     margin-left: 1rem;
     background: var(--color-primary);
     color: #fff;
     height: 30px;
     width: 6rem;
     cursor: pointer;
     padding:5px;
     font-weight: 600;
     border-radius: 7px;
}

/* =================== form input =============== */

.recent-orders .edit-form{
     display: grid;
     margin-top : 1rem;
     width: 100% auto;
     grid-template-columns: 1fr 490px;
     background-color: var(--bg-color-2);
     border-radius: 2rem;
     box-shadow: var(--box-shadow);
     column-gap: 1rem;
}
.recent-orders .edit-form:hover{
     box-shadow: none;
}
.contact-info{
     align-items:center;
     justify-content: center;
     flex-direction: column;
     display: flex;
     position: relative;
     left: 2.5rem;
     top: -7rem;
     text-align: center;
}
.admin{
     top: 0;
}
.contact-info img{
     border-radius: 50%;
     width: 11rem;
     border: 1px solid var(--heading-color);
     height: 11rem;
     margin: 1rem 0;
}
.contact-info .paket-gambar{
     border-radius: 12%;
     width: 14rem;
     height: 16rem;
}
.mail{
     color: var(--main-color-1);
     font-weight: 500;
     font-size: 1.1rem;
     transition: 0.3s;

}

.mail i{
     display: inline-block;
     font-size: 1.5rem;
     margin-left: 2px;
     transform: translateY(3px);
     transition: 0.3s margin-left;
}

.mail:hover{
     color: var(--main-color-dark-1);
}

.mail:hover i{
     margin-left: 10px;
}

.contact-form{
     padding: 3.5rem 3rem;
     display: flex;
     flex-direction: column;
     transition: 0.3s background-color;
}

.form-mobil{
     margin-top: 1rem;
     width: 100% auto;
     background-color: var(--bg-color-2);
     border-radius: 2rem;
     box-shadow: var(--box-shadow);
}

.contact-form h3{
     color: var(--heading-color);
     font-size: 1.3rem;
     font-weight: 500;
     margin-bottom: 1.6rem;
     transition: 0.3s color;
}

textarea.form-input{
     resize: none;
     min-height: 130px;
}


::-webkit-file-upload-button{
     background-color: var(--color-primary);
     color:#fff;
     outline: none;
     filter: brightness(97%);
     cursor: pointer;
     border: none;
     border-radius: 17px;
     padding: 0.9rem 1.5rem;
}
.contact-form input[type="file"]{
     cursor: pointer;
}
.contact-form .form-input{
     margin-bottom: 1.5rem;
}
.contact-form .form2{
     display: flex;
     gap: 1rem;
}

.contact-form .form3{
     display: flex;
     align-items: center;
     justify-content: center;
     float: left;
     gap: 1rem;
     height: 3rem;
}
.contact .square{
     position: absolute;
     left: 17%;
     bottom: 15%;
     transform: translate(-50%,-50%);
}

.contact .triangle{
     position: absolute;
     left: 90%;
     top: 98%;
     transform: translate(-50%,-50%);
}

.form-input.form-file{
     padding: 0;
}
.form-input,.form-date{
     display: inline-block;
     padding: 0.9rem 1.5rem;
     background: var(--bg-color-3);
     border: 2px solid var(--bg-color-3);
     width: 100%;
     filter: brightness(90%);
     border-radius: 17px; 
     font-family: inherit;
     font-size: 0.85rem;
     font-weight: 500;
     color: var(--heading-color);
     outline: none;
     transition: 0.3s;
}
.form-date{
     margin-bottom: 1.5rem;
     
}
.form-date::placeholder{
     color: var(--text-color);
}
.contact-form select{
     display: inline-block;
     padding: 0.9rem 1.5rem;
     background: var(--bg-color-3);
     border: 2px solid var(--bg-color-3);
     width: 100%;
     filter: brightness(90%);
     color: var(--heading-color);
     border-radius: 17px;
     font-family: inherit;
     font-size: 0.85rem;
     font-weight: 500;
     outline: none;
     transition: 0.3s;
     margin-bottom: 1.5rem;
}

.form-input::placeholder{
     color: var(--text-color);
}

.form-input:hover,
.contact-form select:hover{
     filter: brightness(97%);
}

.contact-form select:focus{
     filter: brightness(100%);
     background: var(--bg-color-3);
     border-color: var(--main-color-1);
}
.form-date:focus{
     filter: brightness(100%);
     background: var(--bg-color-3);
     border-color: var(--main-color-1);
}

.form-input:focus{
     filter: brightness(100%);
     background: var(--bg-color-1);
     border-color: var(--main-color-1);
}


.btn{
     display: inline-block;
     padding: 0.9rem 1.75rem;
     border-radius: 17px;
     background-color: var(--color-primary);
     color: #fff;
     font-size: 0.85rem;
     letter-spacing: 0.4px;
     width: 7.8rem;
     text-align: center;
     text-transform: capitalize;
     border: none;
     outline: none;
     font-family: inherit;
     cursor: pointer;
     transition: 0.3s;
}
.btn-jadwal{
     padding: 0.3rem 0.5rem;
     border-radius: 5px;
     width: 5rem;
     font-size: 10px;
}
.jadwal-danger{
     background-color: var(--color-danger);
}
.contact-form .form3 a{
     margin: 0;
}

.btn-password{
     display: inline-block;
     filter: brightness(90%);
     background-color: var(--bg-color-3);
     width: 11rem;
     height: 2.9rem;
     transition: 0.3s;
}
.btn-sm{
     width: 8rem;
}
.btn-password:hover{
     filter: brightness(100%);
}
.btn-password h3{
     font-size: 0.85rem;
}
.btn p{
     color: #fff;
}

.contact-info .images{
     display: flex;
     align-items: center;
     position: absolute;
     width: 100%;
     height: 100%;
     top: -0.5rem;
     left: 0;
     justify-content: center;
}
.button{
     background: var(--color-primary);
     color: #fff;
     height: 2rem;
     display: none;
     width: 2rem;
     cursor: pointer;
     border-radius: 50%;
}
.images:hover .button{
     display: block;

}
.images-mid{
     display: flex;
     align-items: center;
     position: absolute;
     width: 100%;
     height: 100%;
     top: -1.8rem;
     left: 0;
     justify-content: center;
}
/* =================== modal =================== */
.gambar .images{
     display: flex;
     align-items: center;
     position: absolute;
     width: 100%;
     height: 100%;
     top: -20%;
     left: 0;
     justify-content: center;
}
.button{
     background: var(--color-primary);
     color: #fff;
     height: 2rem;
     display: none;
     width: 2rem;
     cursor: pointer;
     border-radius: 50%;
}
.images-mid:hover .button,
.images:hover .button{
     display: block;
}

.modal{
     display: none;
     position: fixed;
     z-index: 1;
     left:0;
     top:0;
     height:100%;
     width: 100%;
     overflow: hidden;
     background-color: rgba(0, 0, 0, 0.5);
}
.modal-content{
     margin:20% auto;
     width: 40%;
     height: 90%;
     margin-top:3%;
     position: relative;
     border-radius: 10px;
     animation-name:modalopen;
     animation-duration:1s;
}
.modal-header h2, .modal-footer h3{
     margin: 0;

}
.modal-body{
     padding: 5px 5px;
}
.modal-body img{
     width: 37.8rem;
     height: 40rem;
     border-radius: 10px;
}
.btnClose{
     color:var(--color-dark);
     float:right;
     font-size: 30px;

}
.btnClose:hover,.btnClose:focus{
     text-decoration: none;
     cursor: pointer;
}

@keyframes modalopen{
     from{opacity: 0}
     to {opacity: 1}

}

/* ================== jadwal =================== */

.recent-orders .hero{
     width: 100%;
     height: 500px;
     margin-top: 1.5rem;
     position: relative;
     background-color: var(--color-white);
     overflow: hidden;
     border-radius: var(--card-border-radius);
     box-shadow: var(--box-shadow);
}

.recent-orders .btn-box{
     display:flex ;
     background-color: var(--color-primary);
     border-bottom: 1px solid var(--color-background);
}
.recent-orders .btn-box button{
     background: transparent;
     border: none;
     outline: none;
     display: flex;
     cursor: pointer;
     padding: 12px 16px;
     margin-right: 5px;
     font-size: 12px;
     color: var(--color-white);
     font-weight: bold;
}
.recent-orders .btn-box button span{
     margin-right: 12px;
     font-size: 15px;
}  
.content{
     display: flex;
     align-items: center;
     padding: 20px;
     position: absolute;
     transform:translateX(100%);
     transition: 0.3s;
}
.content-left {
     flex-basis: 50%;
}
#content1{
     transform: translateX(0px);
}
#btn1{
     color:var(--color-dark);
     background-color: var(--color-white);
}

.recent-orders .hero .content .content-left table{
     width: 50vw;
     box-shadow: none;
}
.recent-orders .hero .content .content-left table thead tr{
     color: var(--color-primary);
}
/* =================== RIGHT SIDE ===================== */
.right{
     margin-top: 1.4rem;
     margin-right: 1.7rem;
}
.right .top{
     display: flex;
     justify-content: END;
     gap: 2rem;
     margin-right: 0.5rem;
}

.right .top button{
     display: none;
}

.right .theme-toggler{
     background: var(--color-light);
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 1.6rem;
     width: 4.2rem;
     cursor: pointer;
     border-radius: var(--border-radius-1);
}

.right .theme-toggler span{
     font-size: 1.2rem;
     width: 50%;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;

}

.right .theme-toggler span.active{
     background: var(--color-primary);
     color: white;
     border-radius: var(--border-radius-1);
}

.right .top .profile {
     display: flex;
     gap: 2rem;
     text-align: right;
}

.profile-photo .icon_wrap img{
     border-radius: 50%;
     cursor: pointer;
}

.profile_dd{
     position: absolute;
     top: 75px;
     right: 23px;
     background: var(--color-white);
     width: 150px;
     height: auto;
     border-radius: 10px;
     box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.125);
     display: none;
   }

   .profile-photo.active .profile_dd{
        display: block;
        z-index: 3;
   }
   .profile_dd:before{
     content: "";
     position: absolute;
     top: -20px;
     right: 0;
     border: 13px solid;
     border-color: transparent transparent var(--color-white) transparent;
   
   }

   .profile-photo .profile_dd{
     width: 175px;
     align-items: center;
     justify-content: center;
   }
    .profile-photo .profile_dd:before{
     right: 0;
   }
   .profile-photo .profile_dd ul li {
     cursor:pointer;
 }
 
 .profile-photo .profile_dd ul li  a{
     display: block;
     padding: 10px 25px;
     position: relative;
     color: var(--color-dark);
     cursor: pointer;
 }
 
 .profile-photo .profile_dd ul li  a .material-icons-sharp{
   display: inline-block;
   font-size: 20px;
 }
 
 .profile-photo .profile_dd .profile_ul{
   font-size: 14px;
 }

 .profile-photo .profile_dd ul li.profile_li a:hover {
     background: transparent;
     cursor: pointer;
     color: var(--color-primary);
 
 }

/* =================== RECENT UPDATES ===================== */
.right .recent-updates{
     margin-top: 1rem;
}

.right .recent-updates h2{
     margin-bottom: 0.8rem;
}

.right .recent-updates .updates {
     background: var(--color-white);
     padding: var(--card-padding);
     border-radius: var(--border-radius-3);
     box-shadow: var(--box-shadow);
     transition: all 300ms ease;
}
.right .recent-updates .updates:hover{
     box-shadow: none;
}

/* ============== SALES ANALYTICS============== */
.right .sales-analytics{
     margin-top: 2rem;
}
.right .sales-analytics h2{
     margin-bottom: 0.8rem;
}

.right .sales-analytics .item{
     background: var(--color-white);
     display: flex;
     align-items:center;
     gap: 1rem;
     margin-bottom: 0.7rem;
     padding: 1.4rem var(--card-padding);
     border-radius: var(--border-radius-3);
     box-shadow: var(--box-shadow);
     transition: all 300ms ease;
}
.right .sales-analytics .item:hover{
     box-shadow: none;
}

.right .sales-analytics .item .right{
     display: flex;
     justify-content: space-between;
     align-items: start;
     margin: 0;
     width: 100%;
}
.right .sales-analytics .item .icon{
     padding: 0.6rem;
     color: var(--color-white);
     border-radius: 50%;
     background: var(--color-primary);
     display: flex;
}

.right .sales-analytics .item.offline .icon{
     background: var(--color-danger);
}
.right .sales-analytics .item.costumers .icon{
     background: var(--color-succes);
}

.right .sales-analytics .add-product{
     background-color: transparent;
     border: 2px dashed var(--color-primary);
     color: var(--color-primary);
     display: flex;
     align-items: center;
     justify-content: center;
}
.right .sales-analytics .add-product div{
     display: flex;
     align-items: center;
     gap: 0.6rem;
}
.right .sales-analytics .add.product div h3{
     font-weight: 600;
}


/* TANGGAL KALENDER */
.recent-updates .updates{
     margin-top: 1rem;
}

.recent-updates .updates .tgl_kalender{
     margin-top: 33px;
     align-items: center;
     justify-content: center;
     height: 40px;
     width: 250px;
   }
   .recent-updates .updates .content_kalender .kalender_content{
     font-size: 18px;
     font-weight: 500;
   
   }
   .recent-updates .updates .tgl_kalender .datetime,
   .recent-updates .updates .tgl_kalender .content_kalender{
     width: 250px;
     background: #fff;
     margin: 10px 0;
   }
   .recent-updates .updates .tgl_kalender .content_kalender{
     min-height: max-content;
   }
   
   .recent-updates .updates .tgl_kalender .datetime{
     align-items: center;
     justify-content: center;
     text-align: center;
     padding: 10px;
     border-radius: 15px;
   }
   .recent-updates .updates .tgl_kalender .datetime .date{
     font-size: 12px;;
     letter-spacing: 1px;
   }
   .recent-updates .updates .tgl_kalender .datetime .time{
     font-size: 20px;
   
   }
   /* Kalender */
   .dark .recent-updates .updates .tgl_kalender .content_kalender .calendar{
     background: #000;
     color: #fff;
   }
   .dark .content_kalender .calendar .calendar-body .calendar_days{
     color: #fff;
   
   }
   .recent-updates .updates .tgl_kalender .content_kalender{
     display: grid;
     place-items:center;
     border-radius: 10px;
     font-size: 12px;
   
   }
   .recent-updates .updates .tgl_kalender .content_kalender .calendar{
     height: max-content;
     width: max-content;
     position: relative;
     overflow: hidden;
   }
   .calendar-header{
     display: flex;
     justify-content: space-between;
     align-items: center;
     font-size: 15px;
     font-weight: 600;
   }
   .calendar-body {
       padding: 5px;
   }
   .calendar-body .calendar-week-day{
     display: grid;
     grid-template-columns: repeat(7,1fr);
     font-weight: 500;
   }
   .calendar-week-day div{
     display: grid;
     place-items:center;
     opacity: 0.7;
     height: px;
   }
   .calendar-days{
     display: grid;
     grid-template-columns: repeat(7,1fr);
     font-weight: 500;
   }
   
   .calendar-days div{
     width: 30px;
     height: 30px;
     display: flex;
     align-items: center;
     justify-content: center;
     display: grid;
     place-items:center;
     color: var(--color-dark);
     opacity: 0.8;
     padding: 5px;
     position: relative;
     cursor: pointer;
   }
   .calendar-days div:nth-child(1),
   .calendar-days div:nth-child(8),
   .calendar-days div:nth-child(15),
   .calendar-days div:nth-child(22),
   .calendar-days div:nth-child(29){
        color: var(--color-danger);
   }
   .month-picker{
     padding: 20px 5px;
     border-radius: 10px;
   }
   .month-picker:hover{
     opacity: 0.7;
   }
   .year-picker{
     display: flex;
     align-items: center;
   }
   .year-change{
     height: 20px;
     width: 20px;
     border-radius: 50%;
     display: grid;
     place-items:center;
     margin: 0 5px;
     cursor: pointer;
   }
   .year-change:hover{
     opacity: 0.7;
   }
   .calendar-footer{
     padding: 10px;
   }
   .calendar-days div span{
     position: absolute;
   }
   .calendar-days div:hover span{
     transition: width 0.2s ease-in-out,height 0.2s ease-in-out;
   
   }
   .content_kalender .calendar{
     box-shadow: shadow rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   }
   
   .calendar-days div span:nth-child(1),
   .calendar-days div span:nth-child(3){
     width: 2px;
     height: 0;
     background-color: #c3c2c8;
   }
   .calendar-days div:hover span:nth-child(1),
   .calendar-days div:hover span:nth-child(3){
     height: 100%;
   }
   
   .calendar-days div span:nth-child(1){
     bottom: 0;
     left: 0;
   }
   .calendar-days div span:nth-child(3){
     top: 0;
     right: 0;
   }
   .calendar-days div span:nth-child(2),
   .calendar-days div span:nth-child(4){
     width: 0;
     height: 2px;
     background-color: #c3c2c8;
   }
   .calendar-days div:hover span:nth-child(2),
   .calendar-days div:hover span:nth-child(4){
     width: 100%;
   
   }
   .calendar-days div span:nth-child(2){
     top: 0;
     left: 0;
   }
   
   .calendar-days div span:nth-child(4){
     bottom: 0;
     right:  0;
   }
   
   .calendar-days div:hover span:nth-child(2){
     transition-delay: 0.2s;
   }
   .calendar-days div:hover span:nth-child(3){
     transition-delay: 0.4s;
   }
   .calendar-days div:hover span:nth-child(4){
     transition-delay: 0.6s;
   }
   .calendar-body .month-list {
       position: absolute;
       width: 100% ;
       height: 100% ;
       top: 0;
       right: 0;
       background-color:var(--color-background);
       padding: 20px;
       grid-template-columns: repeat(3, auto);
       gap: 5px;
       border-radius: var(--border-radius-3);
       display: grid;
       transform: scale(1.5);
       visibility: hidden;
       pointer-events: none;
   }
   
   
   .calendar-body .month-list > div {
       display: grid;
       place-items: center;
   }
   .calendar-days div.curr-date,
   .calendar-days div.curr-date:hover {
       background-color:var(--color-primary);
       color: #fff;
       border-radius: 50%;
   }
   .calendar-body .month-list > div > div {
       width: 100%;
       padding: 3px;
       border-radius: 10px;
       text-align: center;
       cursor: pointer;
       color: var(--color-txt);
   }
   
   .calendar-body .month-list > div > div:hover {
       background-color: var(--color-hover);
   }






/* ====================   MEDIA QUERIES   ====================== */

@media screen and (max-width: 1200px){
     .container{
          width: 95%;
          grid-template-columns: 6.5rem auto 20rem;
     }
     aside .logo h2{
          display: none;
     }
     aside .sidebar h3{
          display: none;
     }
     aside .sidebar a{
          width: 5.6rem;
     }
     aside .sidebar a:last-child{
          position:relative;
          margin-top: 3rem;
     }
     .recent-orders .edit-form{
          grid-template-columns: 1fr;
     }
     .edit-form .contact-info{
          top: 5rem;
          margin-top: 0;
          left: 0;
          margin-bottom: 1rem;
     }
     .modal-body img{
          width: 35rem;
          height: 35rem;
     }
     .edit-form {
          height: auto;
          padding-bottom: 2rem;

     }
     .recent-orders .edit-form .gambar{
          width: 40%;
     }
     .recent-orders .edit-form .gambar img{
          width: 9rem;
          height: 9rem;
     }     
     .gambar .images{
          top: -25%;
     }

     main .insights{
          grid-template-columns: 1fr;
          gap: 0;
     }
     .right{
          margin-right: 0.2rem;
     }
     main table thead tr th:last-child,
     main table thead tr th:first-child{
          display: none;
     }

     main table tbody tr td:last-child,
     main table tbody tr td:first-child{
          display: none;
     }

}

/* @media screen and (max-width: 1000px){
     .edit-form {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
 
      }
      .recent-orders .edit-form .gambar img{
           width: 9rem;
           height: 9rem;
      }
} */

/* ============== MEDIA QUERIES FOR MOBILE =========== */
@media screen and (max-width: 768px){
     .container{
          width: 100%;
          grid-template-columns: 1fr;
     }
     aside{
          position: fixed;
          left: -100%;
          background: var(--color-white);
          width: 18rem;
          z-index: 3;
          box-shadow: 1rem 3rem 4rem var(--color-light);
          height: 100vh;
          padding-right: var(--card-padding);
          display: none;
          animation: showMenu 400ms ease forwards;
     }

     @keyframes showMenu {
          to {
               left: 0;
          }
     }

     aside .logo{
          margin-left : 1rem;
     }
     aside .logo img{
          margin-left: 0.7rem;
     }
     aside .logo h2{
          display: inline;
     }

     aside .sidebar h3{
          display: inline;
     }
     aside .sidebar a{
          width: 100%;
          height: 3.4rem;
     }
     aside .sidebar a:last-child{
          position: absolute;
          bottom: 1rem;
     }
     aside .close{
          display: inline-block;
          cursor: pointer;
     }

     .modal-body img{
          width: 29rem;
          height: 30rem;
     }
     .recent-orders .edit-form{
          grid-template-columns: 1fr;
          width: 100%;
     }
     .edit-form .contact-info{
          top: 5rem;
          margin-top: 0;
          left: 0;
     }
     main{
          margin-top: 8rem;
          padding: 0 1rem;
     }

     main .recent-orders{
          position: relative;
          margin: 3rem 0 0 0;
     }
     main .recent-orders .tambah-data .tambahdata{
          position: relative;
          margin: 1rem 0;
          left: 45%;
     }
     main .recent-orders table{
          width: 100%;
          margin: 0;
     }
     .edit-form {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;

     }
     .right{
          width: 94%;
          margin: 0 auto 4rem;
     }
     .modal-content{
          margin-top: 30%;
          width: 80%;
     }
     .right .top{
          position: fixed;
          top: 0;
          left: 0;
          align-items: center;
          padding: 0 0.8rem;
          height: 4.6rem;
          background: var(--color-white);
          width: 100%;
          margin: 0;
          z-index: 2;
          box-shadow:0 1rem 1rem var(--color-light);
     }

     .right .top .theme-toggler{
          width: 4.4rem;
          position: absolute;
          left: 66%;
     }

     .right .profile .info{
          display: none;
     }
     .right .top button{
          display: inline-block;
          background: transparent;
          cursor: pointer;
          color: var(--color-dark);
          position: absolute;
          left: 1rem;
     }
     .right .top button span{
          font-size: 2rem;
     }
}
